.introtext{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
    padding: 80px 0;
    background-color: wheat;
    border-bottom: 1px solid #666666;
}
.introtext span{
    text-align: center; 
    font-size: 50px;
    color:black;
    width: 100%;
    margin-bottom: 20px;
    animation: introtexte 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.introtext h2{
    word-break: break-word;
    margin: 20px 100px 20px;
    text-align: center;
    font-size: 24px;
    color: #666666;
    animation: introtexte 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.0s both;

}
.introtext strong{
    color: #fc2c77;
    font-size:26px;
}

/* mobile */
@media (max-width:800px){
    .introtext{
        width: auto;
        height: auto;
        display: flex;
        padding: 20px;
        flex-direction: column;
    }
    .introtext span{
        font-size: 32px;
    }
    .introtext h2{
        margin:0px;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        justify-items: center;
    }
    
}

/* anamation */
@keyframes introtexte{
    0% {
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
}